.templates {
    display: none;
}

.input-small-light {
    min-width: 90px;
}

.center {
    text-align: center;
}

#content {
    margin: 80px auto;
}

.thumbnail:hover {
    text-decoration: none;
}

.paragon {
    color: #3a87ad;
}

.table-list {
  margin-bottom: 3px;
  margin-left: 0;
  list-style: none;
}

.table-list li {
  display: block;
  padding: 2px 5px;
  font-size: 12px;
  /*font-weight: bold;*/
  /*line-height: 20px;*/
  /*color: #999999;*/
  /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
  /*text-transform: uppercase;*/
}

.table-list .section-header {
  display: inline-block;
  padding: 10px 5px 2px;
  font-size: 11px;
  font-weight: bold;
  /*line-height: 20px;*/
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  width: 100%;
}

.table-list .section-header a {
  text-transform: none;
  font-weight: normal;
}

.table-list .nav-header {
    padding: 2px 15px 0;
}

.table tbody tr:first-child td {
    border-top: none;
    padding-top: 20px;
}

.table td {

}

.item {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*padding: 5px ! important;*/
}

.item:hover {
    background-color: #ddd;
}

.item-name {
    font-weight: bold;
    width: 120px;
    padding-right: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*
.item input {
  font-size: 11px;
  min-height: 10px !important;
  line-height: 10px;
  width: 100%;
}*/

.item .left {
  width: 120px;
  float: left;
  /*padding-right: 5px;*/
}

.item .right {
  /*margin-left: 120px;*/
  float: right;
  width: 300px;
  padding-right: 3px;
  padding-bottom: 3px;
  /*padding-right: 5px;*/
}

.stat-name {
    font-weight: bold;
    width: 170px;
    padding-right: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody + tbody {
    border-top: none;
}

.item-stat {
    font-weight: bold;
}

.d3-color-green {
    color: #339900 !important;
}

.d3-color-yellow {
    color: #999900 !important;
}

.d3-color-orange {
    color: #993300 !important;
}

.d3-color-grey {
    color: #333 !important;
}