.templates {
    display: none;
}

.input-small-light {
    min-width: 90px;
}

.center {
    text-align: center;
}

#content {
    margin: 80px auto;
}

.thumbnail:hover {
    text-decoration: none;
}

.paragon {
    color: #3a87ad;
}

.table-list {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

.table-list li {
  display: block;
  padding: 3px 15px;
  /*font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;*/
}
